.splashScreen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.titleArea {
  display: flex;
  justify-content: center;
}

.title {
  font-size: large;
}

.subHeading {
  display: flex;
  justify-content: center;
  font-size: medium;
}
