.autoCompleteArea {
  display: flex;
  justify-content: flex-start;
}

.autoComplete {
  width: 100%;
}

.header {
  margin: 1em 0 2em 0;
}

.searchScreen {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.searchArea {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}
