
.addIconArea {
  display: flex;
  position: absolute;
  color: lightgray;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
  margin-top: 10px;
  top: 0.75em;
  left: 3em;
}

.addIcon {
  width: 0.4em;
  height: 0.4em;
  color: lightgray;
  padding-left: 10px;
}

.iconBorder {
  display: flex;
  align-items: center;
  border: solid;
  border-radius: 15em;
  background-color: black;
  padding: 0.5em 1em;
}

.addIconArea:focus {
  outline: none;
}

.deleteIcon {
  width: 0.4em;
  height: 0.4em;
  color: lightgray;
  padding-left: 10px;
}

.deleteIconArea {
  display: flex;
  position: absolute;
  color: lightgray;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
  margin-top: 10px;
  top: 0.75em;
  right: 3em;
}

.deleteIconArea:focus {
  outline: none;
}
