.icons {
  height: 10vh;
  width: 10vh;
}

.pokelist {
  flex: 1;
  display: flex;
  overflow-y: auto;
  height: 55vh;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.pokeIcon {
  display: flex;
  box-sizing: border-box;
  flex: 1;
  flex-direction: column;
  border-style: solid;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  min-width: 20vh;
  max-width: 20vh;
  padding: 5px;
  margin: 2px;
}

.pokeIcon:focus {
  outline: none;
  border: solid;
}

.iconNo {
  float: left;
  top: 0;
  width: '10dp';
  background-color: orange;
  padding: 3px;
  border-radius: 20px;
}
